{% include 'nav-bar.html.twig' %}
<html>
<style>
    .column {
        flex: 70%;
        padding: 40px;
        height: auto;
    }
</style>
<div class="container mt-4">
    {% if app.flashes('danger') %}
        <div class="alert alert-danger">
            {% for message in app.flashes('danger') %}
                <p><center>{{ message }}</center></p>
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-center"><strong>Books</strong></h1>
    <div class="row">
        <div class="column">
            <ul class="list-group">
                {% for books in result %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ books.title }} - {{ books.coverText }} - {{ books.author.firstName }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <!-- Autres informations ou fonctionnalités peuvent être ajoutées ici -->
        </div>
    </div>

</div>

{% include 'footer.html.twig' %}
</html>
